{% extends "base.html" %}

{% block title %}Schedule{% endblock %}

{% block content %}
<style>
  /* Estilos para o cabeçalho da tabela */
  .table-responsive table thead th {
    background-color: #6c757d; /* Um cinza forte para o cabeçalho */
    color: white; /* Texto branco para contraste */
    border: 2px solid #565656; /* Bordas mais escuras para definição */
  }

  /* Estilos para as linhas da tabela */
  .table-responsive table tr:nth-child(odd) {
    background-color: #f0f0f0; /* Cor de fundo para linhas ímpares com um cinza mais fraco */
  }
  .table-responsive table tr:nth-child(even) {
    background-color: #d6d6d6; /* Cor de fundo para linhas pares com um cinza um pouco mais forte */
  }

  /* Estilos gerais para a tabela */
  .table-responsive table {
    border-collapse: collapse; /* Colapsa as bordas da tabela em uma única borda quando adjacentes */
  }
  .table-responsive table, .table-responsive th, .table-responsive td {
    border: 1px solid #565656; /* Bordas com uma cor de cinza médio */
  }
  .table-responsive th, .table-responsive td {
    padding: 8px; /* Espaçamento interno para células da tabela */
    text-align: left; /* Alinhamento do texto para a esquerda */
  }
</style>
<h2 class="text-center">Eventos para {{ month }} {{ year }}</h2>
<div class="table-responsive">
  {{ table_html|safe }}
</div>
<div class="text-center mt-4">
  <a href="{{ url_for('select_month', year=year) }}" class="btn btn-secondary">Voltar</a>
</div>
{% endblock %}